In [37]:
import pandas as pd
import matplotlib as plt
from scipy import stats
import plotly as py
import plotly.graph_objects as go
import numpy as np
from sklearn.linear_model import LinearRegression
from statsmodels.formula.api import ols

**Importing csv file and first 5 rows**

In [38]:
df = pd.read_csv("csv-1.csv")
df.head()

,Indicator,Group,State,Subgroup,Week,Week Label,Value,Low CI,High CI,Confidence Interval,Quartile range
0,Symptoms of Depressive Disorder,National Estimate,United States,United States,1,Apr 23 - May 5,23.5,22.7,24.3,22.7 - 24.3,NaN
1,Symptoms of Depressive Disorder,By Age,United States,18 - 29 years,1,Apr 23 - May 5,32.7,30.2,35.2,30.2 - 35.2,NaN
2,Symptoms of Depressive Disorder,By Age,United States,30 - 39 years,1,Apr 23 - May 5,25.7,24.1,27.3,24.1 - 27.3,NaN
3,Symptoms of Depressive Disorder,By Age,United States,40 - 49 years,1,Apr 23 - May 5,24.8,23.3,26.2,23.3 - 26.2,NaN
4,Symptoms of Depressive Disorder,By Age,United States,50 - 59 years,1,Apr 23 - May 5,23.2,21.5,25.0,21.5 - 25.0,NaN

**ANXIETY**

In [39]:
mask = df["Indicator"] == "Symptoms of Anxiety Disorder"
anx_df = df[mask]

anx_df.head()

,Indicator,Group,State,Subgroup,Week,Week Label,Value,Low CI,High CI,Confidence Interval,Quartile range
70,Symptoms of Anxiety Disorder,National Estimate,United States,United States,1,Apr 23 - May 5,30.8,30.0,31.7,30.0 - 31.7,NaN
71,Symptoms of Anxiety Disorder,By Age,United States,18 - 29 years,1,Apr 23 - May 5,40.2,38.1,42.4,38.1 - 42.4,NaN
72,Symptoms of Anxiety Disorder,By Age,United States,30 - 39 years,1,Apr 23 - May 5,34.4,32.6,36.1,32.6 - 36.1,NaN
73,Symptoms of Anxiety Disorder,By Age,United States,40 - 49 years,1,Apr 23 - May 5,34.1,32.1,36.2,32.1 - 36.2,NaN
74,Symptoms of Anxiety Disorder,By Age,United States,50 - 59 years,1,Apr 23 - May 5,31.0,29.0,33.1,29.0 - 33.1,NaN

**Fitting Multiple Linear Regression Model for Anxiety**

We'll build our model based on the following predictors:

- Group

- State

- Subgroup

- Week (Same as Week Label)

$$y = \beta_0 + \beta_1*x_1 + \beta_2*x_2 + \beta_3*x_3 + \beta_4*x_4$$

where $y$ is the **Value**, $\beta_1$ is the **Group**, $\beta_2$ is the **State**, $\beta_3$ is the **Subgroup**, and $\beta_4$ is the **Week**.

**Fitting Model and Model Summary**

In [40]:
# fit the model using the formula above
# C() indicates categorical
model = ols('Value ~ C(Group) + C(State) + C(Subgroup) + C(Week)', data = anx_df).fit()

model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  Value   R-squared:                       0.773
Model:                            OLS   Adj. R-squared:                  0.732
Method:                 Least Squares   F-statistic:                     18.77
Date:                Sun, 23 Jul 2023   Prob (F-statistic):           1.80e-94
Time:                        09:49:04   Log-Likelihood:                -1119.1
No. Observations:                 490   AIC:                             2390.
Df Residuals:                     414   BIC:                             2709.
Df Model:                          75
Covariance Type:            nonrobust
===============================================================================================================================
                                                                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------------------------------------------
Intercept                                                      23.6326      0.383     61.745      0.000      22.880      24.385
C(Group)[T.By Education]                                       -7.4686      0.873     -8.551      0.000      -9.185      -5.752
C(Group)[T.By Gender]                                          -7.2000      0.797     -9.031      0.000      -8.767      -5.633
C(Group)[T.By Race/Hispanic ethnicity]                         -7.4000      0.891     -8.302      0.000      -9.152      -5.648
C(Group)[T.By State]                                            5.7088      0.343     16.662      0.000       5.035       6.382
C(Group)[T.National Estimate]                                  -5.3500      0.690     -7.748      0.000      -6.707      -3.993
C(State)[T.Alaska]                                             -0.1925      0.484     -0.398      0.691      -1.143       0.758
C(State)[T.Arizona]                                             0.5646      0.484      1.167      0.244      -0.386       1.515
C(State)[T.Arkansas]                                            1.3932      0.484      2.880      0.004       0.442       2.344
C(State)[T.California]                                          1.7789      0.484      3.677      0.000       0.828       2.730
C(State)[T.Colorado]                                            0.5432      0.484      1.123      0.262      -0.408       1.494
C(State)[T.Connecticut]                                         0.4075      0.484      0.842      0.400      -0.543       1.358
C(State)[T.Delaware]                                           -0.7640      0.484     -1.579      0.115      -1.715       0.187
C(State)[T.District of Columbia]                                1.1932      0.484      2.467      0.014       0.242       2.144
C(State)[T.Florida]                                             1.9503      0.484      4.032      0.000       0.999       2.901
C(State)[T.Georgia]                                             1.2932      0.484      2.673      0.008       0.342       2.244
C(State)[T.Hawaii]                                             -2.2640      0.484     -4.680      0.000      -3.215      -1.313
C(State)[T.Idaho]                                              -1.4497      0.484     -2.997      0.003      -2.401      -0.499
C(State)[T.Illinois]                                            1.4932      0.484      3.087      0.002       0.542       2.444
C(State)[T.Indiana]                                             1.3717      0.484      2.836      0.005       0.421       2.323
C(State)[T.Iowa]                                               -2.3568      0.484     -4.872      0.000      -3.308      -1.406
C(State)[T.Kansas]                                             -0.2997      0.484     -0.620      0.536      -1.251       0.651
C(State)[T.Kentucky]                                            0.8146      0.484      1.684      0.093      -0.136       1.765
C(State)[T.Louisiana]                                           2.4003      0.484      4.962      0.000       1.449       3.351
C(State)[T.Maine]                                               0.0860      0.484      0.178      0.859      -0.865       1.037
C(State)[T.Maryland]                                           -0.4140      0.484     -0.856      0.393      -1.365       0.537
C(State)[T.Massachusetts]                                      -0.1783      0.484     -0.369      0.713      -1.129       0.773
C(State)[T.Michigan]                                           -0.1354      0.484     -0.280      0.780      -1.086       0.815
C(State)[T.Minnesota]                                          -1.2068      0.484     -2.495      0.013      -2.158      -0.256
C(State)[T.Mississippi]                                         2.3360      0.484      4.829      0.000       1.385       3.287
C(State)[T.Missouri]                                            0.9289      0.484      1.920      0.056      -0.022       1.880
C(State)[T.Montana]                                            -1.7068      0.484     -3.528      0.000      -2.658      -0.756
C(State)[T.Nebraska]                                           -2.2640      0.484     -4.680      0.000      -3.215      -1.313
C(State)[T.Nevada]                                              1.8503      0.484      3.825      0.000       0.899       2.801
C(State)[T.New Hampshire]                                      -0.2283      0.484     -0.472      0.637      -1.179       0.723
C(State)[T.New Jersey]                                          1.6503      0.484      3.412      0.001       0.699       2.601
C(State)[T.New Mexico]                                          0.7360      0.484      1.522      0.129      -0.215       1.687
C(State)[T.New York]                                            1.4360      0.484      2.969      0.003       0.485       2.387
C(State)[T.North Carolina]                                      0.2503      0.484      0.517      0.605      -0.701       1.201
C(State)[T.North Dakota]                                       -2.6354      0.484     -5.448      0.000      -3.586      -1.685
C(State)[T.Ohio]                                                0.2860      0.484      0.591      0.555      -0.665       1.237
C(State)[T.Oklahoma]                                           -0.0997      0.484     -0.206      0.837      -1.051       0.851
C(State)[T.Oregon]                                              1.6360      0.484      3.382      0.001       0.685       2.587
C(State)[T.Pennsylvania]                                        0.0717      0.484      0.148      0.882      -0.879       1.023
C(State)[T.Rhode Island]                                       -0.6640      0.484     -1.373      0.171      -1.615       0.287
C(State)[T.South Carolina]                                     -0.4640      0.484     -0.959      0.338      -1.415       0.487
C(State)[T.South Dakota]                                       -1.7068      0.484     -3.528      0.000      -2.658      -0.756
C(State)[T.Tennessee]                                           0.0503      0.484      0.104      0.917      -0.901       1.001
C(State)[T.Texas]                                               1.5646      0.484      3.234      0.001       0.614       2.515
C(State)[T.United States]                                      17.9237      0.656     27.339      0.000      16.635      19.212
C(State)[T.Utah]                                               -0.3568      0.484     -0.738      0.461      -1.308       0.594
C(State)[T.Vermont]                                             0.3503      0.484      0.724      0.469      -0.601       1.301
C(State)[T.Virginia]                                           -0.1783      0.484     -0.369      0.713      -1.129       0.773
C(State)[T.Washington]                                          0.2860      0.484      0.591      0.555      -0.665       1.237
C(State)[T.West Virginia]                                       1.5789      0.484      3.264      0.001       0.628       2.530
C(State)[T.Wisconsin]                                          -2.0640      0.484     -4.267      0.000      -3.015      -1.113
C(State)[T.Wyoming]                                            -2.4925      0.484     -5.153      0.000      -3.443      -1.542
C(Subgroup)[T.30 - 39 years]                                   -6.0286      1.381     -4.366      0.000      -8.743      -3.314
C(Subgroup)[T.40 - 49 years]                                   -8.1143      1.381     -5.876      0.000     -10.829      -5.400
C(Subgroup)[T.50 - 59 years]                                  -10.5571      1.381     -7.645      0.000     -13.272      -7.843
C(Subgroup)[T.60 - 69 years]                                  -18.0571      1.381    -13.076      0.000     -20.772     -15.343
C(Subgroup)[T.70 - 79 years]                                  -24.8429      1.381    -17.990      0.000     -27.557     -22.128
C(Subgroup)[T.80 years and above]                             -27.2286      1.381    -19.717      0.000     -29.943     -24.514
C(Subgroup)[T.Alabama]                                         -0.4708      0.949     -0.496      0.620      -2.336       1.394
C(Subgroup)[T.Alaska]                                          -0.1925      0.484     -0.398      0.691      -1.143       0.758
C(Subgroup)[T.Arizona]                                          0.5646      0.484      1.167      0.244      -0.386       1.515
C(Subgroup)[T.Arkansas]                                         1.3932      0.484      2.880      0.004       0.442       2.344
C(Subgroup)[T.Bachelor's degree or higher]                     -8.1457      0.873     -9.327      0.000      -9.863      -6.429
C(Subgroup)[T.California]                                       1.7789      0.484      3.677      0.000       0.828       2.730
C(Subgroup)[T.Colorado]                                         0.5432      0.484      1.123      0.262      -0.408       1.494
C(Subgroup)[T.Connecticut]                                      0.4075      0.484      0.842      0.400      -0.543       1.358
C(Subgroup)[T.Delaware]                                        -0.7640      0.484     -1.579      0.115      -1.715       0.187
C(Subgroup)[T.District of Columbia]                             1.1932      0.484      2.467      0.014       0.242       2.144
C(Subgroup)[T.Female]                                           0.3714      0.797      0.466      0.642      -1.196       1.939
C(Subgroup)[T.Florida]                                          1.9503      0.484      4.032      0.000       0.999       2.901
C(Subgroup)[T.Georgia]                                          1.2932      0.484      2.673      0.008       0.342       2.244
C(Subgroup)[T.Hawaii]                                          -2.2640      0.484     -4.680      0.000      -3.215      -1.313
C(Subgroup)[T.High school diploma or GED]                      -2.3029      0.873     -2.637      0.009      -4.020      -0.586
C(Subgroup)[T.Hispanic or Latino]                               1.0286      0.891      1.154      0.249      -0.724       2.781
C(Subgroup)[T.Idaho]                                           -1.4497      0.484     -2.997      0.003      -2.401      -0.499
C(Subgroup)[T.Illinois]                                         1.4932      0.484      3.087      0.002       0.542       2.444
C(Subgroup)[T.Indiana]                                          1.3717      0.484      2.836      0.005       0.421       2.323
C(Subgroup)[T.Iowa]                                            -2.3568      0.484     -4.872      0.000      -3.308      -1.406
C(Subgroup)[T.Kansas]                                          -0.2997      0.484     -0.620      0.536      -1.251       0.651
C(Subgroup)[T.Kentucky]                                         0.8146      0.484      1.684      0.093      -0.136       1.765
C(Subgroup)[T.Less than a high school diploma]                  3.8257      0.873      4.380      0.000       2.109       5.543
C(Subgroup)[T.Louisiana]                                        2.4003      0.484      4.962      0.000       1.449       3.351
C(Subgroup)[T.Maine]                                            0.0860      0.484      0.178      0.859      -0.865       1.037
C(Subgroup)[T.Male]                                            -7.5714      0.797     -9.496      0.000      -9.139      -6.004
C(Subgroup)[T.Maryland]                                        -0.4140      0.484     -0.856      0.393      -1.365       0.537
C(Subgroup)[T.Massachusetts]                                   -0.1783      0.484     -0.369      0.713      -1.129       0.773
C(Subgroup)[T.Michigan]                                        -0.1354      0.484     -0.280      0.780      -1.086       0.815
C(Subgroup)[T.Minnesota]                                       -1.2068      0.484     -2.495      0.013      -2.158      -0.256
C(Subgroup)[T.Mississippi]                                      2.3360      0.484      4.829      0.000       1.385       3.287
C(Subgroup)[T.Missouri]                                         0.9289      0.484      1.920      0.056      -0.022       1.880
C(Subgroup)[T.Montana]                                         -1.7068      0.484     -3.528      0.000      -2.658      -0.756
C(Subgroup)[T.Nebraska]                                        -2.2640      0.484     -4.680      0.000      -3.215      -1.313
C(Subgroup)[T.Nevada]                                           1.8503      0.484      3.825      0.000       0.899       2.801
C(Subgroup)[T.New Hampshire]                                   -0.2283      0.484     -0.472      0.637      -1.179       0.723
C(Subgroup)[T.New Jersey]                                       1.6503      0.484      3.412      0.001       0.699       2.601
C(Subgroup)[T.New Mexico]                                       0.7360      0.484      1.522      0.129      -0.215       1.687
C(Subgroup)[T.New York]                                         1.4360      0.484      2.969      0.003       0.485       2.387
C(Subgroup)[T.Non-Hispanic Asian, single race]                 -8.1000      0.891     -9.087      0.000      -9.852      -6.348
C(Subgroup)[T.Non-Hispanic black, single race]                 -0.2857      0.891     -0.321      0.749      -2.038       1.467
C(Subgroup)[T.Non-Hispanic white, single race]                 -5.0000      0.891     -5.609      0.000      -6.752      -3.248
C(Subgroup)[T.Non-Hispanic, other races and multiple races]     4.9571      0.891      5.561      0.000       3.205       6.709
C(Subgroup)[T.North Carolina]                                   0.2503      0.484      0.517      0.605      -0.701       1.201
C(Subgroup)[T.North Dakota]                                    -2.6354      0.484     -5.448      0.000      -3.586      -1.685
C(Subgroup)[T.Ohio]                                             0.2860      0.484      0.591      0.555      -0.665       1.237
C(Subgroup)[T.Oklahoma]                                        -0.0997      0.484     -0.206      0.837      -1.051       0.851
C(Subgroup)[T.Oregon]                                           1.6360      0.484      3.382      0.001       0.685       2.587
C(Subgroup)[T.Pennsylvania]                                     0.0717      0.484      0.148      0.882      -0.879       1.023
C(Subgroup)[T.Rhode Island]                                    -0.6640      0.484     -1.373      0.171      -1.615       0.287
C(Subgroup)[T.Some college/Associate's degree]                 -0.8457      0.873     -0.968      0.333      -2.563       0.871
C(Subgroup)[T.South Carolina]                                  -0.4640      0.484     -0.959      0.338      -1.415       0.487
C(Subgroup)[T.South Dakota]                                    -1.7068      0.484     -3.528      0.000      -2.658      -0.756
C(Subgroup)[T.Tennessee]                                        0.0503      0.484      0.104      0.917      -0.901       1.001
C(Subgroup)[T.Texas]                                            1.5646      0.484      3.234      0.001       0.614       2.515
C(Subgroup)[T.United States]                                   -5.3500      0.690     -7.748      0.000      -6.707      -3.993
C(Subgroup)[T.Utah]                                            -0.3568      0.484     -0.738      0.461      -1.308       0.594
C(Subgroup)[T.Vermont]                                          0.3503      0.484      0.724      0.469      -0.601       1.301
C(Subgroup)[T.Virginia]                                        -0.1783      0.484     -0.369      0.713      -1.129       0.773
C(Subgroup)[T.Washington]                                       0.2860      0.484      0.591      0.555      -0.665       1.237
C(Subgroup)[T.West Virginia]                                    1.5789      0.484      3.264      0.001       0.628       2.530
C(Subgroup)[T.Wisconsin]                                       -2.0640      0.484     -4.267      0.000      -3.015      -1.113
C(Subgroup)[T.Wyoming]                                         -2.4925      0.484     -5.153      0.000      -3.443      -1.542
C(Week)[T.2]                                                   -0.6314      0.437     -1.446      0.149      -1.490       0.227
C(Week)[T.3]                                                   -2.4514      0.437     -5.614      0.000      -3.310      -1.593
C(Week)[T.4]                                                   -1.4343      0.437     -3.284      0.001      -2.293      -0.576
C(Week)[T.5]                                                   -0.2714      0.437     -0.622      0.535      -1.130       0.587
C(Week)[T.6]                                                   -0.1343      0.437     -0.308      0.759      -0.993       0.724
C(Week)[T.7]                                                    0.7286      0.437      1.668      0.096      -0.130       1.587
==============================================================================
Omnibus:                       15.595   Durbin-Watson:                   1.933
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               31.228
Skew:                           0.119   Prob(JB):                     1.66e-07
Kurtosis:                       4.213   Cond. No.                     1.34e+17
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 4.92e-32. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

**Investigating significant variables**

Use a significance level of 0.05

In [41]:
mask = model.pvalues < 0.05

p_df = pd.DataFrame(model.pvalues[mask])
p_df = p_df.reset_index()
p_df = p_df.rename(columns = {"index": "variable",
                              0:"p-value"})
p_df

                                  variable        p-value
0                                Intercept  5.714514e-211
1                 C(Group)[T.By Education]   2.381375e-16
2                    C(Group)[T.By Gender]   6.538261e-18
3   C(Group)[T.By Race/Hispanic ethnicity]   1.470478e-15
4                     C(Group)[T.By State]   4.524857e-48
..                                     ...            ...
68            C(Subgroup)[T.West Virginia]   1.190064e-03
69                C(Subgroup)[T.Wisconsin]   2.460758e-05
70                  C(Subgroup)[T.Wyoming]   3.982763e-07
71                            C(Week)[T.3]   3.635844e-08
72                            C(Week)[T.4]   1.108777e-03

[73 rows x 2 columns]

**Significant Groups**

In [42]:
mask = p_df['variable'].str.contains("Group")

p_df[mask]

                                 variable       p-value
1                C(Group)[T.By Education]  2.381375e-16
2                   C(Group)[T.By Gender]  6.538261e-18
3  C(Group)[T.By Race/Hispanic ethnicity]  1.470478e-15
4                    C(Group)[T.By State]  4.524857e-48
5           C(Group)[T.National Estimate]  7.260608e-14

**Significant States**

In [43]:
mask = p_df['variable'].str.contains("State")

p_df[mask]

                            variable       p-value
4               C(Group)[T.By State]  4.524857e-48
6               C(State)[T.Arkansas]  4.183268e-03
7             C(State)[T.California]  2.667117e-04
8   C(State)[T.District of Columbia]  1.404621e-02
9                C(State)[T.Florida]  6.591013e-05
10               C(State)[T.Georgia]  7.808482e-03
11                C(State)[T.Hawaii]  3.889398e-06
12                 C(State)[T.Idaho]  2.891962e-03
13              C(State)[T.Illinois]  2.159793e-03
14               C(State)[T.Indiana]  4.796782e-03
15                  C(State)[T.Iowa]  1.574846e-06
16             C(State)[T.Louisiana]  1.020872e-06
17             C(State)[T.Minnesota]  1.299111e-02
18           C(State)[T.Mississippi]  1.933645e-06
19               C(State)[T.Montana]  4.648780e-04
20              C(State)[T.Nebraska]  3.889398e-06
21                C(State)[T.Nevada]  1.509048e-04
22            C(State)[T.New Jersey]  7.094168e-04
23              C(State)[T.New York]  3.165451e-03
24          C(State)[T.North Dakota]  8.758326e-08
25                C(State)[T.Oregon]  7.879274e-04
26          C(State)[T.South Dakota]  4.648780e-04
27                 C(State)[T.Texas]  1.316821e-03
28         C(State)[T.United States]  8.987568e-95
29         C(State)[T.West Virginia]  1.190064e-03
30             C(State)[T.Wisconsin]  2.460758e-05
31               C(State)[T.Wyoming]  3.982763e-07
67      C(Subgroup)[T.United States]  7.260608e-14

**Significant Subgroups**

In [44]:
mask = p_df['variable'].str.contains("Subgroup")

p_df[mask]

                                             variable       p-value
32                       C(Subgroup)[T.30 - 39 years]  1.603821e-05
33                       C(Subgroup)[T.40 - 49 years]  8.654909e-09
34                       C(Subgroup)[T.50 - 59 years]  1.473670e-13
35                       C(Subgroup)[T.60 - 69 years]  6.006271e-33
36                       C(Subgroup)[T.70 - 79 years]  7.030799e-54
37                  C(Subgroup)[T.80 years and above]  1.650853e-61
38                            C(Subgroup)[T.Arkansas]  4.183268e-03
39         C(Subgroup)[T.Bachelor's degree or higher]  6.665098e-19
40                          C(Subgroup)[T.California]  2.667117e-04
41                C(Subgroup)[T.District of Columbia]  1.404621e-02
42                             C(Subgroup)[T.Florida]  6.591013e-05
43                             C(Subgroup)[T.Georgia]  7.808482e-03
44                              C(Subgroup)[T.Hawaii]  3.889398e-06
45          C(Subgroup)[T.High school diploma or GED]  8.686562e-03
46                               C(Subgroup)[T.Idaho]  2.891962e-03
47                            C(Subgroup)[T.Illinois]  2.159793e-03
48                             C(Subgroup)[T.Indiana]  4.796782e-03
49                                C(Subgroup)[T.Iowa]  1.574846e-06
50     C(Subgroup)[T.Less than a high school diploma]  1.503285e-05
51                           C(Subgroup)[T.Louisiana]  1.020872e-06
52                                C(Subgroup)[T.Male]  1.760107e-19
53                           C(Subgroup)[T.Minnesota]  1.299111e-02
54                         C(Subgroup)[T.Mississippi]  1.933645e-06
55                             C(Subgroup)[T.Montana]  4.648780e-04
56                            C(Subgroup)[T.Nebraska]  3.889398e-06
57                              C(Subgroup)[T.Nevada]  1.509048e-04
58                          C(Subgroup)[T.New Jersey]  7.094168e-04
59                            C(Subgroup)[T.New York]  3.165451e-03
60     C(Subgroup)[T.Non-Hispanic Asian, single race]  4.251397e-18
61     C(Subgroup)[T.Non-Hispanic white, single race]  3.723580e-08
62  C(Subgroup)[T.Non-Hispanic, other races and mu...  4.815906e-08
63                        C(Subgroup)[T.North Dakota]  8.758326e-08
64                              C(Subgroup)[T.Oregon]  7.879274e-04
65                        C(Subgroup)[T.South Dakota]  4.648780e-04
66                               C(Subgroup)[T.Texas]  1.316821e-03
67                       C(Subgroup)[T.United States]  7.260608e-14
68                       C(Subgroup)[T.West Virginia]  1.190064e-03
69                           C(Subgroup)[T.Wisconsin]  2.460758e-05
70                             C(Subgroup)[T.Wyoming]  3.982763e-07

**Significant Weeks**

In [45]:
mask = p_df['variable'].str.contains("Week")

p_df[mask]

        variable       p-value
71  C(Week)[T.3]  3.635844e-08
72  C(Week)[T.4]  1.108777e-03